## Netflix DB

In [1]:
# Import libraries

import pandas as pd
from sqlalchemy import create_engine
import os
from config import omdb_key, Posgres_Pswrd
import numpy as np
import requests
import json

In [2]:
# Loading CSV file into Pandas

csv_file = os.path.join("netflix_titles.csv")
netflix_df = pd.read_csv(csv_file)
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [3]:
# Exploring Netflix_titles file

netflix_df.shape

(6234, 12)

In [4]:
sorted(netflix_df)

['cast',
 'country',
 'date_added',
 'description',
 'director',
 'duration',
 'listed_in',
 'rating',
 'release_year',
 'show_id',
 'title',
 'type']

In [5]:
# Identifing missing fields

netflix_df['director'].isnull().sum()

1969

In [6]:
netflix_df['cast'].isnull().sum()

570

In [7]:
netflix_df['country'].isnull().sum()

476

In [8]:
netflix_df['date_added'].isnull().sum()

11

In [9]:
netflix_df['rating'].isnull().sum()

10

In [10]:
# Renaming columns

netflix_df.columns = ['show_id', 'show_type', 'show_title', 'show_director', 'show_cast', 'show_country', 'date_added', 'release_year', 'show_rating', 'show_duration', 'listed_in', 'show_description']
netflix_df.head()

,show_id,show_type,show_title,show_director,show_cast,show_country,date_added,release_year,show_rating,show_duration,listed_in,show_description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [11]:
# Assigning data types

# netflix_df.dtypes
netflix_df.astype({'date_added': 'datetime64[ns]'}).dtypes

show_id                      int64
show_type                   object
show_title                  object
show_director               object
show_cast                   object
show_country                object
date_added          datetime64[ns]
release_year                 int64
show_rating                 object
show_duration               object
listed_in                   object
show_description            object
dtype: object

In [12]:
# Replacing Null values with blank field

netflix_df.fillna('')

,show_id,show_type,show_title,show_director,show_cast,show_country,date_added,release_year,show_rating,show_duration,listed_in,show_description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,,,,,2016,,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [13]:
netflix_drop_df = netflix_df.drop_duplicates(subset="show_title", keep="first")

In [14]:
netflix_drop_df.shape

(6172, 12)

In [15]:
not_found = []
om_actors= []
om_awards= []
om_country= []
om_director= []
om_genre= []
om_language= []
om_metascore= []
om_plot= []
om_poster= []
om_rated= []
om_released= []
om_response= []
om_runtime= []
om_title= []
om_type= []
om_writer = []
om_year= []
om_imdbID= []
om_imdbVotes = []
om_rating_imdb= []
om_rating_rotten= []
om_rating_metacritic = []


print("Start Retrieval")    
for movie in netflix_drop_df['show_title']:
#     print(movie)
    url = f'http://www.omdbapi.com/?t={movie}&apikey={omdb_key}' 
    response = requests.get(url)
    data = response.json()
    
    if data['Response']=='True':
#         print(f'found {data["Title"]}')
        om_actors.append(data['Actors'])
        om_awards.append(data['Awards'])
        om_country.append(data['Country'])
        om_director.append(data['Director'])
        om_genre.append(data['Genre'])
        om_language.append(data['Language'])
        om_metascore.append(data['Metascore'])
        om_plot.append(data['Plot'])
        om_poster.append(data['Poster'])
        om_rated.append(data['Rated'])
        om_released.append(data['Released'])
        om_response.append(data['Response'])
        om_runtime.append(data['Runtime'])
        om_title.append(data['Title'])
        om_type.append(data['Type'])
        om_writer.append(data['Writer'])
        om_year.append(data['Year'])
        om_imdbID.append(data['imdbID'])
        om_imdbVotes.append(data['imdbVotes'])

        rating1 = ''
        rating2 = ''
        rating3 = ''

        ratings = data['Ratings']
        for rating in ratings:
            if rating['Source'] == 'Internet Movie Database':
                rating1 = rating['Value']
            elif rating['Source'] == 'Rotten Tomatoes':
                rating2 = rating['Value']
            else:
                rating3 = rating['Value']

        om_rating_imdb.append(rating1)
        om_rating_rotten.append(rating2)
        om_rating_metacritic.append(rating3)


    else:
        not_found.append(movie)
        
print('Finished Retrieval')

Start Retrieval
Finished Retrieval

In [16]:
print(f'Actors: {len(om_actors)}')
print(f'Awards: {len(om_awards)}')
print(f'Country: {len(om_country)}')
print(f'Director: {len(om_director)}')
print(f'Genre: {len(om_genre)}')
print(f'Language: {len(om_language)}')
print(f'Metascore: {len(om_metascore)}')
print(f'Plot: {len(om_plot)}')
print(f'Poster: {len(om_poster)}')
print(f'Rated: {len(om_rated)}')
print(f'Released: {len(om_released)}')
print(f'Response: {len(om_response)}')
print(f'Runtime: {len(om_runtime)}')
print(f'Title: {len(om_title)}')
print(f'Type: {len(om_type)}')
print(f'Writer: {len(om_writer)}')
print(f'Year: {len(om_year)}')
print(f'Imdb ID: {len(om_imdbID)}')
print(f'Imdb Votes: {len(om_imdbVotes)}')
print(f'Rating Imdb: {len(om_rating_imdb)}')
print(f'Rating Rotten: {len(om_rating_rotten)}')
print(f'Rating Metacritc: {len(om_rating_metacritic)}')

print(f'Number of Movies not in OMDB: {len(not_found)}')

Actors: 5398
Awards: 5398
Country: 5398
Director: 5398
Genre: 5398
Language: 5398
Metascore: 5398
Plot: 5398
Poster: 5398
Rated: 5398
Released: 5398
Response: 5398
Runtime: 5398
Title: 5398
Type: 5398
Writer: 5398
Year: 5398
Imdb ID: 5398
Imdb Votes: 5398
Rating Imdb: 5398
Rating Rotten: 5398
Rating Metacritc: 5398
Number of Movies not in OMDB: 774

In [17]:
open_movie_dict = {
    'actor': om_actors,
    'awards': om_awards,
    'country': om_country,
    'director': om_director,
    'genre': om_genre,
    'language': om_language,
    'metascore': om_metascore,
    'plot': om_plot,
    'poster': om_poster,
    'rated': om_rated,
    'released': om_released,
    'response': om_response,
    'runtime': om_runtime,
    'title': om_title,
    'type': om_type,
    'writer': om_writer,
    'year': om_year,
    'imdb_id': om_imdbID,
    'imdb_votes': om_imdbVotes,
    'rating_imdb': om_rating_imdb,
    'rating_rotten': om_rating_rotten,
    'rating_metacritic': om_rating_metacritic
    }
open_movie_df = pd.DataFrame(open_movie_dict)
open_movie_df.shape

# out_file = os.path.join('open_movie.csv')
# open_movie_df.to_csv(out_file, index=False)

(5398, 22)

In [18]:
duplicate = open_movie_df[open_movie_df.duplicated('title')] 
  
print("Duplicate Rows based on Show Title :")
duplicate

Duplicate Rows based on Show Title :

,actor,awards,country,director,genre,language,metascore,plot,poster,rated,...,runtime,title,type,writer,year,imdb_id,imdb_votes,rating_imdb,rating_rotten,rating_metacritic
1082,"Deepak Chachra, Smita Malhotra, Tarun Ratnani",N/A,India,Tilak Shetty,Animation,"Hindi, English",N/A,"In three tales about fear, a baby elephant get...",https://m.media-amazon.com/images/M/MV5BYjlhYT...,N/A,...,65 min,Krish Trish and Baltiboy: Face Your Fears,movie,Sreejoni Nag,2017,tt8672310,7,3.7/10,,
1628,Stephen Fry,N/A,Spain,Alfonso Rodriguez,"Animation, Short","English, Spanish",N/A,Pocoyo's fun-filled world is rocked by the sud...,https://m.media-amazon.com/images/M/MV5BZWYzYm...,G,...,24 min,Pocoyo and the Space Circus,movie,"David Cantolla (created by), Luis Gallego (cre...",2009,tt7908512,11,5.9/10,,
1981,"Demet Akbag, Ata Demirer, Özge Borak, Salih Ka...",N/A,Turkey,Hakan Algül,Comedy,Turkish,N/A,Life is tough for Geyikli clarinetist Huseyin ...,https://m.media-amazon.com/images/M/MV5BMTU2NT...,N/A,...,105 min,Eyyvah Eyyvah 3,movie,Ata Demirer,2014,tt3478046,"5,645",6.0/10,44%,
2006,"Yun-Fat Chow, Michelle Yeoh, Ziyi Zhang, Chen ...",Won 4 Oscars. Another 98 wins & 134 nominations.,"Taiwan, Hong Kong, USA, China",Ang Lee,"Action, Adventure, Fantasy, Romance",Mandarin,94,A young Chinese warrior steals a sword from a ...,https://m.media-amazon.com/images/M/MV5BNDdhMz...,PG-13,...,120 min,"Crouching Tiger, Hidden Dragon",movie,"Du Lu Wang (book), Hui-Ling Wang (screenplay),...",2000,tt0190332,"250,195",7.8/10,97%,94/100
2273,"Michael Cera, Kieran Culkin, Anna Kendrick, Al...",17 wins & 64 nominations.,"USA, UK, Canada, Japan",Edgar Wright,"Action, Comedy, Fantasy, Romance",English,69,Scott Pilgrim must defeat his new girlfriend's...,https://m.media-amazon.com/images/M/MV5BMTkwNT...,PG-13,...,112 min,Scott Pilgrim vs. the World,movie,"Michael Bacall (screenplay), Edgar Wright (scr...",2010,tt0446029,"369,674",7.5/10,82%,69/100
2383,"Rayner Gabriel, Donald Guzzi, Christian Vandepas",N/A,South Korea,N/A,Animation,"Korean, English",N/A,"Zenos who was once defeated by space cops, is ...",https://m.media-amazon.com/images/M/MV5BZGYxZj...,N/A,...,N/A,Miniforce X,series,N/A,2019–,tt10340828,N/A,,,
2925,"Sally Field, Ed Harris, Olivia Burnette, Alexa...",N/A,USA,John Schlesinger,"Crime, Drama, Thriller","English, French, Spanish, Korean",N/A,When the courts fail to keep behind bars the m...,https://m.media-amazon.com/images/M/MV5BMDM4Mz...,R,...,101 min,Eye for an Eye,movie,"Erika Holzer (novel), Amanda Silver (screenpla...",1996,tt0116260,"13,248",6.2/10,,
3059,"Cuba Gooding Jr., Spencer Breslin, Nikki Blons...",N/A,USA,T. Sean Shannon,Comedy,English,10,A teenager with an early onset of male-pattern...,https://m.media-amazon.com/images/M/MV5BMTA3Mj...,PG-13,...,90 min,Harold,movie,"T. Sean Shannon, Greg Fields",2008,tt1041753,"1,847",5.5/10,31%,10/100
3145,"Harrison Ford, Sean Connery, Denholm Elliott, ...",Won 1 Oscar. Another 7 wins & 22 nominations.,USA,Steven Spielberg,"Action, Adventure","English, German, Greek, Arabic",65,"In 1938, after his father Professor Henry Jone...",https://m.media-amazon.com/images/M/MV5BMjNkMz...,PG-13,...,127 min,Indiana Jones and the Last Crusade,movie,"Jeffrey Boam (screenplay), George Lucas (story...",1989,tt0097576,"681,147",8.2/10,88%,65/100
3394,"Vic Mignogna, Aaron Dismuke, Romi Pak, Rie Kug...",3 wins.,Japan,N/A,"Animation, Action, Adventure, Comedy, Drama, F...",Japanese,N/A,When a failed alchemical ritual leaves brother...,https://m.media-amazon.com/images/M/MV5BMjYwND...,TV-PG,...,24 min,Fullmetal Alchemist,series,N/A,2003–2004,tt0421357,"60,218",8.5/10,,
3789,"Petunia, John Mulaney, Amanda Walsh",N/A,USA,Rhys Thomas,Comedy,English,N/A,"Armed with boyish charm and a sharp wit, the f...",https://m.media-amazon.com/images/M/MV5BMDQ3Nj...,TV-MA,...,62 min,John Mulaney: The Comeback Kid,movie,John Mulaney,2015,tt5069564,"6,538",8.0/10,100%,
3928,"Amitabh Bachchan, Rani Mukerji, Shernaz Patel,...",56 wins & 4 nominations.,India,Sanjay Leela Bhansali,Drama,"Hindi, English",N/A,The cathartic tale of a young woman who can't ...,https://m.media-amazon.com/images/M/MV5BNTI5Mm...,Not Rated,...,122 min,Black,movie,"Sanjay Leela Bhansali (screenplay), Bhavani Iy...",2005,tt0375611,"33,020",8.2/10,67%,
4206,"Mamoru Miyano, Brad Swaile, Vincent Tong, Ryô ...",2 wins.,Japan,N/A,"Animation, Crime, Drama, Fantasy, Mystery, Thr...",Japanese,N/A,An intelligent high school student goes on a s...,https://m.media-amazon.com/images/M/MV5BODkzMj...,TV-14,...,24 min,Death Note,series,N/A,2006–2007,tt0877057,"220,161",9.0/10,,
4342,"Keanu Reeves, Michael Nyqvist, Alfie Allen, Wi...",5 wins & 8 nominations.,"USA, UK, China","Chad Stahelski, David Leitch","Action, Crime, Thriller","English, Russian, Hungarian",68,An ex-hit-man comes out of retirement to track...,https://m.media-amazon.com/images/M/MV5BMTU2Nj...,R,...,101 min,John Wick,movie,Derek Kolstad,2014,tt2911666,"523,756",7.4/10,87%,68/100
4651,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",1 win & 5 nominations.,USA,Robert Luketic,"Crime, Drama, History, Thriller",English,48,"""21"" is the fact-based story about six MIT stu...",https://m.media-amazon.com/images/M/MV5BMjAyNT...,PG-13,...,123 min,21,movie,"Peter Steinfeld (screenplay), Allan Loeb (scre...",2008,tt0478087,"226,449",6.8/10,35%,48/100
4677,"Marie Forså, Nadia Henkowa, Anke Syring, Ines ...",N/A,"Sweden, Switzerland, West Germany",Joseph W. Sarno,"Drama, Romance","Swedish, English",N/A,Sixteen year old Bibi comes to her aunt Toni's...,https://m.media-amazon.com/images/M/MV5BMjgxMz...,N/A,...,120 min,Bibi,movie,Joseph W. Sarno,1974,tt0070879,201,5.4/10,,
4678,"Marie Forså, Nadia Henkowa, Anke Syring, Ines ...",N/A,"Sweden, Switzerland, West Germany",Joseph W. Sarno,"Drama, Romance","Swedish, English",N/A,Sixteen year old Bibi comes to her aunt Toni's...,https://m.media-amazon.com/images/M/MV5BMjgxMz...,N/A,...,120 min,Bibi,movie,Joseph W. Sarno,1974,tt0070879,201,5.4/10,,
4679,"Marie Forså, Nadia Henkowa, Anke Syring, Ines ...",N/A,"Sweden, Switzerland, West Germany",Joseph W. Sarno,"Drama, Romance","Swedish, English",N/A,Sixteen year old Bibi comes to her aunt Toni's...,https://m.media-amazon.com/images/M/MV5BMjgxMz...,N/A,...,120 min,Bibi,movie,Joseph W. Sarno,1974,tt0070879,201,5.4/10,,
4855,Bill Burr,N/A,USA,Jay Karas,Comedy,English,N/A,Comedian Bill Burr's 2014 stand-up comedy spec...,https://m.media-amazon.com/images/M/MV5BMTk0Mz...,TV-MA,...,80 min,Bill Burr: I'm Sorry You Feel That Way,movie,Bill Burr,2014,tt3823690,"6,626",8.4/10,100%,
4902,María Esnoz,N/A,UK,N/A,"Animation, Family, Music",English,N/A,Simple songs mix with colorful animation to te...,https://m.media-amazon.com/images/M/MV5BNmVjOD...,N/A,...,30 min,Learning Songs by Little Baby Bum: Nursery Rhy...,series,N/A,2017,tt11456582,N/A,,,

In [19]:
open_movie_drop_df = open_movie_df.drop_duplicates(subset="title", keep="first")
open_movie_drop_df.shape

(5378, 22)

In [20]:
movies_combined = pd.merge(netflix_drop_df, open_movie_drop_df, left_on=['show_title'], right_on=['title'], how='left')
movies_combined.head()

,show_id,show_type,show_title,show_director,show_cast,show_country,date_added,release_year,show_rating,show_duration,...,runtime,title,type,writer,year,imdb_id,imdb_votes,rating_imdb,rating_rotten,rating_metacritic
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,...,90 min,Norm of the North: King Sized Adventure,movie,Dean Stefan,2019,tt9428190,290,3.2/10,36%,
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,...,95 min,Jandino: Whatever it Takes,movie,N/A,2016,tt6999080,15,5.4/10,,
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,...,30 min,Transformers Prime,series,N/A,2010–2013,tt1659175,"5,258",7.9/10,,
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,...,22 min,Transformers: Robots in Disguise,series,N/A,2014–2020,tt3604232,799,6.0/10,,
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
movies_limited = movies_combined[['show_id', 'show_type', 'show_title', 'show_director', 'show_cast',
                               'show_country', 'date_added', 'release_year', 'show_rating', 'show_duration',
                               'listed_in', 'show_description', 'awards', 'genre', 'language', 'writer',
                               'imdb_id', 'imdb_votes', 'rating_imdb', 'rating_rotten', 'rating_metacritic']]
movies_limited.tail()

,show_id,show_type,show_title,show_director,show_cast,show_country,date_added,release_year,show_rating,show_duration,...,show_description,awards,genre,language,writer,imdb_id,imdb_votes,rating_imdb,rating_rotten,rating_metacritic
6167,80159925,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,...,A wacky rabbit and his gang of animal pals hav...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6168,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,...,"This parody of first-person shooter games, mil...",1 win & 6 nominations.,"Animation, Short, Action, Adventure, Comedy, F...","English, Spanish",Burnie Burns,tt0401747,"8,814",8.3/10,,
6169,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,...,"Marc Maron stars as Marc Maron, who interviews...",N/A,Comedy,English,Marc Maron,tt2520512,"4,479",7.7/10,,
6170,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,...,"Set during the Russian Revolution, this comic ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6171,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,...,This hit sitcom follows the merry misadventure...,Won 1 Golden Globe. Another 76 wins & 220 nomi...,"Comedy, Romance","English, Dutch, Italian, French","David Crane, Marta Kauffman",tt0108778,"789,615",8.9/10,,

In [22]:
duplicate = movies_limited[movies_limited.duplicated('show_id')] 
  
print("Duplicate Rows based on Show IDs :")

Duplicate Rows based on Show IDs :

In [28]:
# Creating Posgres Engine

pg_user = 'postgres'
pg_password = Posgres_Pswrd
db_name = 'movies_db'

connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [29]:
engine.table_names()

['netflix_omdb']

In [30]:
movies_limited.to_sql(name='netflix_omdb', con=engine, if_exists='append', index=False)

In [31]:
pd.read_sql_query('select * from netflix_omdb', con=engine).head()

,show_id,show_type,show_title,show_director,show_cast,show_country,date_added,release_year,show_rating,show_duration,...,show_description,awards,genre,language,writer,imdb_id,imdb_votes,rating_imdb,rating_rotten,rating_metacritic
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,2019,TV-PG,90 min,...,Before planning an awesome wedding for his gra...,N/A,"Animation, Adventure, Comedy, Family",English,Dean Stefan,tt9428190,290,3.2/10,36%,
1,80117401,Movie,Jandino: Whatever it Takes,None,Jandino Asporaat,United Kingdom,2016-09-09,2016,TV-MA,94 min,...,Jandino Asporaat riffs on the challenges of ra...,N/A,Comedy,"English, Dutch",N/A,tt6999080,15,5.4/10,,
2,70234439,TV Show,Transformers Prime,None,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018-09-08,2013,TV-Y7-FV,1 Season,...,"With the help of three human allies, the Autob...",14 wins & 26 nominations.,"Animation, Action, Adventure, Comedy, Drama, F...",English,N/A,tt1659175,"5,258",7.9/10,,
3,80058654,TV Show,Transformers: Robots in Disguise,None,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018-09-08,2016,TV-Y7,1 Season,...,When a prison ship crash unleashes hundreds of...,2 wins & 11 nominations.,"Animation, Action, Adventure, Comedy, Sci-Fi",English,N/A,tt3604232,799,6.0/10,,
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,TV-14,99 min,...,When nerdy high schooler Dani finally attracts...,None,None,None,None,None,None,None,None,None